<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Styles/">
    <title>Registro Civil</title>

</head>

<body>

    <h1>Proyecto Registro Civil</h1>

    <div class="Cancion">

        <h2>Cancion pa pegar las nalgas al suelo, como dios manda B)</h2>
        <a href="https://open.spotify.com/track/2oiixB9QMIzhWaHGVlQx4g?si=0ce6877d75e844ab">Click Here</a>
    
    </div>
</body>

</html>